/* this css file will only style the homepage of our site */

.my-portrait {
  margin: 10px;
  max-width: 500px;
}

.my-portrait {
  max-height: 400px;
  max-width: 500px;
  height: 400px;
  width: 4500px;
}